@font-face {
	font-family: "Cotta";
	src: url("/fonts/f1.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("/fonts/f2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Source Sans Pro", serif;
}

h1,
h2,
h3,
h4 {
	font-family: "Cotta", serif;
}

h1 {
	font-size: 10em;
}
