---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Poster from "../components/Poster.astro";
---

<style is:global lang="scss">
	@import "../styles/reset";
	@import "../styles/scroll";
	@import "../styles/global";
	@import "../styles/typography";
</style>

<Layout>
	<div class="container">
		<main>
			<Poster />
			<Section />
		</main>
	</div>
</Layout>

<script>
	import "../animation/smoothScroll.js";
</script>

<style lang="scss">
	main {
		position: relative;
	}
</style>
